<?php
    $updateComment = false;
    //var_dump($viewData);
    if (!empty($viewData['comment'])) {
        var_dump($viewData['comment']);
        $updateComment = true;
    }
    var_dump($updateComment);
?>

<div style="border:1px solid black;margin-top:10px;padding:10px;">
    <h3 class="">Ajouter un nouveau commentaire !</h3>


    <?php if($updateComment) : ?>
    <form action="/updateComment" method="post">
    <?php else : ?>
    <form action="/addComment" method="post">
    <?php endif; ?>

        <div>
            <label for="body">Message</label>
            <textarea name="body"><?= (empty($viewData['comment'])) ? '' : $viewData['comment']->getBody(); ?></textarea>
        </div>
        <div>
            <label for="user">Choisissez un utilisateur : </label>

            <select name="userId" id="user">
                <option value="<?= (empty($viewData['comment'])) ? '' : $viewData['comment']->getUser()->getId(); ?>"><?= (empty($viewData['comment'])) ? '-- Choisiez un utilisateur / auteur --' : $viewData['comment']->getUser()->getName(); ?></option>

                <?php foreach ($viewData['userList'] as $user): ?>
                    <option value="<?= $user->getId() ?>"> <?= $user->getName() ?></option>
                <?php endforeach; ?>
            </select>
        </div>
		
    	<input hidden type="number" name="postId" value="<?= $viewData['post']->getId() ?>">
    <button class="btn btn--add" type="submit"><?= ($updateComment) ? 'Mettre à jour' : 'Ajouter' ; ?></button>
    </form>
</div>