<h2>Ajouter un utilisateur</h2>

<form action="/addPost" method="post">
   <div>
        <label for="title">Titre</label>
        <input type="text" name="title">
    </div>
    <div>
        <label for="body">Message</label>
        <input type="textArea" name="body">
    </div>
    <div>
        <label for="user">Auteur</label>

        <select name="userId" id="user">
        <option value="">-- Choisiez un utilisateur / auteur --</option>
        <option value="1">Margaux</option>
        <option value="2">Jimmy</option>
        <option value="7">Marie</option>
        <option value="21">Jules</option>
        <option value="24">Tommy</option>
        <option value="28">Anne</option>
        </select>

    </div>
    <button type="submit">Créer</button>
</form>