<?php
    //var_dump($viewData['userList']);
    foreach ($viewData['userList'] as $user){
        var_dump($user->getFirstname());
    }
?>

<h2>Ajouter un utilisateur</h2>

<form action="/addPost" method="post">
   <div>
        <label for="title">Titre</label>
        <input type="text" name="title">
    </div>
    <div>
        <label for="body">Message</label>
        <input type="textArea" name="body">
    </div>
    <div>
        <label for="user">Auteur</label>

        <select name="userId" id="user">
        <option value="">-- Choisiez un utilisateur / auteur --</option>
        <?php foreach ($viewData['userList'] as $user) : ?>
                
                <option value="<?= $user->getId() ?>"><?= $user->getFirstname() ?></option>
        <?php endforeach; ?>
        </select>
    </div>
    <button type="submit">Créer</button>
</form>