<h1>HoMe POST</h1>


<h2>CRUD utilisateur</h2>

<form class="btn" action="/formPost" method="post">
    <button class="btn btn--add" type="submit">Ajouter</button>
</form>

<form class="btn" action="/updatePost" method="post">
    <div>
        <label for="identifiant">Identifiant</label>
        <input type="number" name="identifiant">
    </div>
    <button class="btn btn--update" type="submit">Modifier</button>
</form>

<form class="btn" action="/deletePost" method="post">
    <div>
        <label for="identifiant">Identifiant</label>
        <input type="number" name="identifiant">
    </div>
    <button class="btn btn--delete" type="submit">Supprimer</button>
</form>