<?php

    // var_dump($viewData['postList']);


?>

<h1>HoMe POST</h1>


<h2>CRUD utilisateur</h2>

<form class="btn" action="/formPost" method="post">
    <button class="btn btn--add" type="submit">Ajouter</button>
</form>

<form class="btn" action="/formPost" method="post">
    <label for="post">Choisissez un utilisateur : </label>

    <select name="identifiant" id="post">
        <option value="">--Choisissez quelqu'un--</option>

        <?php foreach ($viewData['postList'] as $post): ?>
            <option value="<?= $post->getId() ?>"> <?= $post->getTitle() ?></option>
        <?php endforeach; ?>
    </select>
    <button class="btn btn--update" type="submit">Modifier</button>
</form>

<form class="btn" action="/deletePost" method="post">
    <label for="post">Choisissez un utilisateur : </label>

    <select name="identifiant" id="post">
        <option value="">--Choisissez quelqu'un--</option>

        <?php foreach ($viewData['postList'] as $post): ?>
            <option value="<?= $post->getId() ?>"> <?= $post->getTitle() ?></option>
        <?php endforeach; ?>
    </select>
    <button class="btn btn--delete" type="submit">Supprimer</button>
</form>