<?php
    //var_dump($viewData);
    //foreach ($viewData['userList'] as $user){
    //    var_dump($user->getFirstname());
    //}
?>

<span> Nouvelle article </span>

<h2><?= $viewData['post']->getTitle() ?></h2>

<p><?= $viewData['post']->getBody() ?></p>

<p><?= $viewData['post']->getUser()->getName() ?></p>

<?php require __DIR__ . '/../comment/formComment.twig'; ?>
<?php require __DIR__ . '/../comment/listComment.twig'; ?>

