<?php
    var_dump($viewData);
    //foreach ($viewData['userList'] as $user){
    //    var_dump($user->getFirstname());
    //}
?>

<span> Nouvelle article </span>

<h2><?= $viewData['newPost']->getTitle() ?></h2>

<p><?= $viewData['newPost']->getBody() ?></p>

<p><?php var_dump($viewData['newPost']->getUser()) ?></p>