<?php
    $updateUser = false;
    if (!empty($viewData['user'])) {
        var_dump($viewData);
        $updateUser = true;
    }
    var_dump('$updateUser', $updateUser);
?>

<h2>Ajouter un utilisateur</h2>

<?php if($updateUser) : ?>
<form action="/updateUser" method="post">
<?php else : ?>
<form action="/addUser" method="post">
<?php endif; ?>
    <div>
        <label for="firstname">Prénom</label>
        <input type="text" name="firstname" value="<?= (empty($viewData['user'])) ? '' : $viewData['user']->getFirstname(); ?>">
    </div>
    <div>
        <label for="lastname">Nom</label>
        <input type="text" name="lastname" value="<?= (empty($viewData['user'])) ? '' : $viewData['user']->getlastname() ?>">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" value="<?= (empty($viewData['user'])) ? '' : $viewData['user']->getEmail() ?>">
    </div>
    <div>
        <label for="password">mot de passe</label>
        <input type="password" name="password">
    </div>

    <input hidden type="number" name="identifiant" value="<?= (empty($viewData['user'])) ? '' : $viewData['user']->getId() ?>">
    <button type="submit"><?= ($updateUser) ? 'Mettre à jour' : 'Créer' ; ?></button>
</form>