<?php
$updateUser = false;
if (!empty($viewData['user'])) {
    var_dump($viewData);
    $updateUser = true;
}


?>



<h2>Ajouter un utilisateur</h2>

<?php if($updateUser) : ?>
<form action="/updateUser" method="post">
<?php else : ?>
<form action="/addUser" method="post">
<?php endif; ?>
    <div>
        <label for="firstname">Prénom</label> <!-- ma.pu@gm.fr-->
        <input type="text" name="firstname" value="<?php (empty($viewData['user'])) ? '' : $viewData['user']->getFirstname(); ?>"> <!-- <strong>tata</strong> -->
    </div>
    <div>
        <label for="lastname">Nom</label> <!-- ma.pu@gm.fr-->
        <input type="text" name="lastname" value="<?php (empty($viewData['user'])) ? '' : $viewData['user']->getlastname() ?>"> <!-- <strong>tata</strong> -->
    </div>
    <div>
        <label for="email">Email</label> <!-- ma.pu@gm.fr-->
        <input type="email" name="email" value="<?php (empty($viewData['user'])) ? '' : $viewData['user']->getEmail() ?>"> <!-- <strong>tata</strong> -->
    </div>
    <div>
        <label for="password">mot de passe</label> <!-- ma.pu@gm.fr-->
        <input type="password" name="password"> <!-- <strong>tata</strong> -->
    </div>

    <input hidden type="number" name="identifiant" value="<?php (empty($viewData['user'])) ? '' : $viewData['user']->getId() ?>">
    <button type="submit">Créer</button>
</form>