
<h2>CRUD utilisateur</h2>

<form class="btn" action="/formUser" method="post">

    <button class="btn btn--add" type="submit">Ajouter</button>
</form>
<!-- ?= $viewData['userList']->getFirstname() ?> #} -->
<ul>

</ul>
<form class="btn" action="/formUser" method="post">
    <label for="user">Choisissez un utilisateur : </label>

    <select name="identifiant" id="user">
        <option value="">--Choisissez quelqu'un--</option>

        <?php foreach ($viewData['userList'] as $key => $user): ?>
            <option value="<?= $user->getId() ?>"> <?= $user->getFirstname() ?></option>
        <?php endforeach; ?>
    </select>
    <button class="btn btn--update" type="submit">Modifier</button>
</form>

<form class="btn" action="/deleteUser" method="post">

    <label for="user">Choisissez un utilisateur : </label>

    <select name="identifiant" id="user">
        <option value="">--Choisissez quelqu'un--</option>

        <?php foreach ($viewData['userList'] as $key => $user): ?>
            <option value="<?= $user->getId() ?>"> <?= $user->getFirstname() ?></option>
        <?php endforeach; ?>
    </select>
  <!--   <div>
        <label for="identifiant">Identifiant</label>
        <input type="number" name="identifiant">
    </div> -->
    <button class="btn btn--delete" type="submit">Supprimer</button>
</form>