
<h2>CRUD utilisateur</h2>

<form class="btn" action="/formUser" method="post">

    <button class="btn btn--add" type="submit">Ajouter</button>
</form>

<form class="btn" action="/updateUser" method="post">
    <div>
        <label for="identifiant">Identifiant</label>
        <input type="number" name="identifiant">
    </div>
    <button class="btn btn--update" type="submit">Modifier</button>
</form>

<form class="btn" action="/deleteUser" method="post">
    <div>
        <label for="identifiant">Identifiant</label>
        <input type="number" name="identifiant">
    </div>
    <button class="btn btn--delete" type="submit">Supprimer</button>
</form>