<h2>Ajouter un utilisateur</h2>

<form action="/updateUser" method="post">
    <div>
        <label for="firstname">Prénom</label>
        <input type="text" name="firstname">
    </div>
    <div>
        <label for="lastname">Nom</label>
        <input type="text" name="lastname">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email">
    </div>
    <div>
        <label for="password">mot de passe</label>
        <input type="password" name="password">
    </div>
    <button type="submit">Créer</button>
</form>