	<header>
	 	<h1> OCR - Blog </h1>

		<nav>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/user">User</a>
			</li>
			<li>
				<a href="/post">Articles</a>
			</li>
		</nav>	
	</header>